<div id="contact-list">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody (addAccountEvent)='addContactEventHandler()'>
          <tr *ngFor='let contact of contacts' >
              <th scope="row">{{contact._id}}</th>
              <td>{{contact.firstname}}</td>
              <td>{{contact.lastname}}</td>
              <td>{{contact.phone}}</td>
              <td><a routerLink='/page2/{{contact._id}}' routerLinkActive='active'>Edit/Del</a></td>
          </tr>
        </tbody>
      </table>
</div>