#header-col-1.header-blocks    
    h1.company-name #{company_name}

#header-col-2.header-blocks
    h3#app-name #{app_name}
    h5#app-subname= 'CSCI E-31: Assignment #5 (REST API)'

#header-col-3.header-blocks  
    h5= 'Logged in as Jaizon Lubaton'