<div id="add-contact-form" class='card' (click)='formClick()'>
  <div class='card-header'><h4>New Contact</h4></div>
  <div class='card-body'>
      <form (ngSubmit)='onSubmit(contact)' [formGroup]='contact' >
   
          <div>
              <div class='form-group'>
                  <input type='text' placeholder="Firstname" formControlName='firstname' class='form-control'/>  
                  <small class="form-text text-danger" *ngIf="contact.get('firstname').hasError('required') && contact.get('firstname').touched">
                      Firstname is required!
                  </small>      
              </div>           
            
           
              <div class='form-group'>
                  <input type='text' placeholder="Lastname" formControlName='lastname'  class='form-control'/>
                  <small class="form-text text-danger" *ngIf="contact.get('lastname').hasError('required') && contact.get('lastname').touched">
                     Lastname is required!
                  </small> 
              </div>          
           
              <div class='form-group'>
                  <input type='text' placeholder="Phone" formControlName='phone'  class='form-control'/>
                  <small class="form-text text-danger" *ngIf="contact.get('phone').hasError('required') && contact.get('phone').touched">
                      Phone is required!
                  </small> 
              </div>             
          </div>
          <div class='alert alert-success' style='margin: 0;margin-bottom: 5px;' *ngIf="isShowMessage">
              {{message}}         
          </div>          
          <button type='submit' [disabled]="contact.invalid" class="btn btn-secondary"> Add Contact </button>    
        </form>
       
  </div>
 
</div>
